:root{
  --yellow-color : #FFB400;
  --black-color : #2B2B2B;
  --light-black-color : #3A3B3C;
  --gray-color : #767676;
  --light-gray-color : #E4E6EB;
  --medium-white-color : #F0F0F6;
  --white-color : #FFFFFF;
}