.main_div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-height: 100vh;
  background-color: var(--light-gray-color);
}

.left_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:18%;
  background-color: var(--white-color);
  padding: 20px;
}

.right_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:79%;
  background-color: var(--medium-white-color);
}

@media screen and (min-width:300px) and (max-width:768px) {
  
  .main_div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--light-gray-color);
  }
  
  .left_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    background-color: var(--white-color);
    padding: 20px;
  }
  
  .right_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: var(--medium-white-color);
  }
}